@import "global.scss";

*{
    box-sizing: border-box;
}

html,body{
    padding: 0;
    margin: 0;
}


nav{
    padding: 30px 0;
    position: fixed;
    min-width: 100vw;
    background-color: red;
    max-height: 100vh;
}

.nav-items{
    @include flex-row;
    
}

.navlist, .burger{
    @include hide
}



@media only screen and (max-width: 400px){
    .nav-menu{
        @include hide
    }

    .burger{
        display: block;
    }

    .navlist{
        @include flex-col;
        display: block;

        .list-items{
            @include flex-col;
            height: 90vh;
            
        }
    }
    
}