@import "global.scss";

*{
    box-sizing: border-box;
}

html,body{
    padding: 0;
    margin: 0;
}

nav{
    padding: 30px 0;
    position: fixed;
    min-width: 100vw;
    background-color: red;
    max-height: 100vh;
}

.nav-items{
    @include flex-row;
}

#burger{
    @include hide;
}



@media only screen and (max-width: 400px){
    .nav-menu{
        color: black;
        @include hide;
        position: fixed;
        z-index: -1000;
        width: 100vw;
        height: 90vh;
        top: 85px;
        background-color: red;

        .menu-items{
            min-height: 100%;
            @include flex-col;
        }
    }

    #burger{
        display: block;
        width: 30px;
    }
    
}